/* General Structure (Base) */
body {
    background-image: url('images/night.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Calibri', sans-serif;    
}

.wrapper {
    background: rgb(220, 237, 246);
    width: 80%;
    height:100%;
    margin: auto;
}

.site-header{
    background: rgb(189, 229, 250);
    padding-top: 30px;
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    background: rgb(220, 237, 246);
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    background: rgb(40, 40, 78);
    text-align: center;
    font-size: 16px;
    padding: 20px;
}
footer p {
    color: white;
}
footer a {
    color:rgb(194, 89, 194);
}
/*---------------------*/

/* Site header */

.site-logo {
    height: 100px;
    width: 220px;
    float:left;
    margin-left: 50px;
}

.navContainer{
    width: 75%;
    float:right;
}

.navSite{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgba(104, 48, 104, 0.688);
    background: rgb(192, 216, 255);
    box-shadow: 2px 5px;
    padding: 8px;
}
		
.navSite:hover{
     color: rgb(125, 90, 165);
     background: rgb(214, 182, 19);	
}

#user {
    width: 60%;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(192, 216, 255);
    text-align: center;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#searchBar{
    border-radius: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

#site {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: wheat;
    text-align: center;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*---------------------*/

/* Main-Section Lead */
 .lead img {
    width: 100%;
    border-radius: 1.5em;
 }

 h1 {
    font-size: 64px;
    line-height: 150%;
    color: rgb(81, 7, 104);
    text-align: center;
    margin-top: 50px;

 }

 h2 {
    font-size: 50px;
    color: rgb(62, 10, 150);
    text-align: center;
    margin-top: 50px;
 }

 h3 {
    font-size: 30px;
    text-align: center;
 }

 p {
    font-size: 18px;
    text-align: center;
 }
/*---------------------*/

 /* Links */
a {
    padding: 5px;
    text-decoration: none;
    color:rgb(104, 48, 104);
    font-weight: bold;
}

a:hover{
    padding: 5px;
    text-decoration: none;
    color:rgb(94, 110, 190);
}
/*---------------------*/

/*Showcase*/

.showContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.showcase-item {
    background-color:rgb(135, 186, 227);
    height: 400px;
    align-items: center;
    margin: 10px;
    border-radius: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.showcase-item h3 {
    background-color: rgb(185, 219, 245);
    border-radius: 1.0em;
}

.description{
    height: 40%;
}

/*---------------------*/

/* On-page navigation */
.nav{
    border-radius: 0.5em;
    background-color: pink;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav:hover {
    border-radius: 1em;
    background-color: powderblue;
    color:rgb(125, 90, 165);
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
}

.nav:hover a{
    padding: 5px;
    text-decoration: none;
    color:rgb(125, 90, 165);
    font-weight: bold;
}
/*----------------------------*/
